.transactionsTable {
    display: inline-table;
    border: solid;
    width: 600px;
    border-collapse: collapse;

}

.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.title td ,
 .title th {
    border: 1px solid #bcbbbb;
    padding: 8px;
}

.tableItem:nth-child(odd){background-color:  #d8d3d3;
}


.title th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0daad6;
    color: white;
}
